.openSeat {
  width: 30px;
  height: 30px;
  border: 1px solid;
  border-radius: 10px;
}

.openSeat:hover {
  background-color: #5bc0de;
  color: white;
}

.closeSeat {
  width: 30px;
  height: 30px;
  border: 1px solid;
  border-radius: 10px;
}

.selectedSeat {
  width: 30px;
  height: 30px;
  border: 1px solid;
  border-radius: 10px;
}

.marginTop {
  margin-top: 50px;
}

.floatLayout {
  position: fixed;
  width: 90%;
  height: 90%;
  left: 5%;
  top: 8%;
  background: white;
  z-index: 10;
  box-shadow: 5px 5px 5px 5px #888888;
}
